﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="qandaccountactivation.aspx.cs" Inherits="WebApplication1.qandaccountactivation" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
        <div style="position: absolute;top: 0;bottom: 0;right: 0;left: 0;text-align: center;overflow: hidden;white-space: nowrap;">
        <div style="position: relative;display: inline-block;height: 100%;vertical-align: middle;"></div>
            <div style="position: relative;display: inline-block;vertical-align: middle;">
                <asp:Image ID="Image1" runat="server" Height="91px" ImageUrl="~/images/logo.png" Width="333px" />  
                <h3><%= msg %></h3>
            </div>
            
    </div> 
    </form>
</body>
</html>
