<?xml version="1.0" encoding="utf-8"?>
<LinearLayout xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:app="http://schemas.android.com/apk/res-auto"
    android:orientation="vertical"
    android:layout_width="match_parent"
    android:layout_height="match_parent">
    <android.support.v7.widget.Toolbar
        android:id="@+id/toolbar"
        android:layout_width="match_parent"
        android:layout_height="wrap_content"
        android:minHeight="?attr/actionBarSize"
        android:background="?attr/colorPrimary"
        android:theme="@style/ThemeOverlay.AppCompat.Dark.ActionBar"
        app:popupTheme="@style/ThemeOverlay.AppCompat.Dark">
        <android.support.design.widget.TabLayout
            android:id="@+id/sliding_tabs"
            app:tabMode="scrollable"
            app:tabIndicatorHeight="4dp"
            android:layout_width="wrap_content"
            android:layout_height="wrap_content" />
    </android.support.v7.widget.Toolbar>
    <LinearLayout
        android:orientation="horizontal"
        android:minWidth="25px"
        android:minHeight="25px"
        android:layout_width="match_parent"
        android:layout_height="wrap_content"
        android:id="@+id/linearLayoutFilters"
        android:background="#ffa228"
        android:weightSum="100">
        <LinearLayout
            android:layout_width="wrap_content"
            android:layout_height="wrap_content"
            android:padding="10dip"
            android:id="@+id/btnFilterNieuwste"
            android:minWidth="25px"
            android:minHeight="25px"
            android:layout_weight="50"
            android:background="#ff9738">
            <TextView
                android:text="Nieuwste"
                android:textColor="@android:color/black"
                android:layout_width="match_parent"
                android:layout_height="20dp"
                android:gravity="center"
                android:id="@+id/homeSorteerNieuwQuestion" />
        </LinearLayout>
        <LinearLayout
            android:minWidth="25px"
            android:minHeight="25px"
            android:padding="10dip"
            android:layout_width="wrap_content"
            android:layout_height="wrap_content"
            android:id="@+id/btnFilterPopulairste"
            android:background="#fc3232"
            android:layout_weight="50">
            <TextView
                android:text="Populairste"
                android:textColor="@android:color/black"
                android:layout_width="match_parent"
                android:layout_height="20dp"
                android:gravity="center"
                android:layout_weight="50"
                android:id="@+id/homeSorteerPopulairQuestion" />
        </LinearLayout>
    </LinearLayout>
    <android.support.v4.widget.DrawerLayout
        android:id="@+id/drawer_layout"
        android:layout_width="match_parent"
        android:layout_height="match_parent">
        <RelativeLayout
            android:layout_width="match_parent"
            android:layout_height="wrap_content">
            <android.support.v4.view.ViewPager
                android:id="@+id/viewpager"
                android:background="@android:color/white"
                android:layout_width="wrap_content"
                android:layout_height="wrap_content" />
        </RelativeLayout>
    <!-- The Main Content View -->
        <RelativeLayout
            android:layout_width="match_parent"
            android:layout_height="wrap_content">
            <ImageButton
                android:id="@+id/fab"
                style="@style/FloatingActionButton"
                android:src="@drawable/plus"
                android:layout_alignParentEnd="true"
                android:layout_alignParentBottom="true"
                android:layout_marginBottom="25dp"
                android:layout_marginRight="25dp" />
        </RelativeLayout>
    <!-- The Left Navigation Drawer -->
        <ListView
            android:id="@+id/left_drawer"
            android:layout_width="240dp"
            android:layout_height="match_parent"
            android:layout_gravity="start"
            android:choiceMode="singleChoice"
            android:divider="#818181"
            android:dividerHeight="1dp"
            android:background="#f1e5c1" />
    </android.support.v4.widget.DrawerLayout>
</LinearLayout>